th, td, caption {
    text-align: left;
    padding: 0;
}

table {
    width: 100%;
}

caption {
    border-bottom: 1px #000 solid;
    font-size: 26px;
    margin-left: 2px;
}

.table__scroll-container {
    max-height: 40vh;
    overflow-y: auto;
    width: 100%;
}

th, td {
    font-size: 16px;
}

th {
    height: 35px;
    vertical-align: top;
    font-weight: bold;
}

td:last-child,
th:last-child {
    text-align: right;
}