th, td, caption {
    text-align: left;
    padding: 0;
}

table {
    width: 100%;
}

caption {
    border-bottom: 1px #000 solid;
    font-size: 26px;
    margin-left: 2px;
}

th, td {
    font-size: 16px;
}

th {
    height: 35px;
    vertical-align: top;
    font-weight: bold;
}