body {
    position: relative;
    font-family: 'PT Root UI', Arial, Helvetica, sans-serif;
}

.wrapper {
    padding-top: 70px !important;
}

.header {
    color: #fff;
    background-color: #57e4a9;
    padding: 0 calc((100% - 1040px) / 2);
    position: fixed;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.header__logo {
    font-size: 40px;
}

.header__menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
}

.header__menu-item {
    margin-left: 41px;
    font-size: 24px;
    display: block;
    cursor: pointer;
    transition: color 150ms ease-in-out;
}

.header__menu-item:hover {
    color: #e2e457;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_hidden {
    display: none;
}

.modal__body {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    min-width: 500px;
}

.modal__wrapper {
    position: relative;
}

.modal__close-button {
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 24px;
    cursor: pointer;
}

.modal__form-header {
    margin: 0;
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__input {
    margin-bottom: 20px;
    max-width: 200px;
}

.modal__submit-button {
    outline: none;
    background-color: #57e4a9;
    color: #fff;
    border: none;
    height: 30px;
    width: 120px;
    border-radius: 5px;
}

.modal__submit-button:hover {
    opacity: .8;
}

.choise-level__modal__description {
    text-align: center;
    color: #474747;
}

.choise-level__buttons__container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.choise-level__button__type-veryease {
    background-color: #57e4a9;
}

.choise-level__button__type-ease {
    background-color: #34d928;
}

.choise-level__button__type-normal {
    background-color: #3493d0;
}

.choise-level__button__type-hard {
    background-color: #f8482f;
}

.choise-level__button__type-veryhard {
    background-color: #e20101;
}

.choise-level__button {
    position: relative;
    padding: 10px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
    margin: 5px auto;
    transition: all .9s ease-in;
}

.choise-level__button:hover::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all .9s ease-in;
    background-color: rgba(30, 30, 30 ,0.05);
}
